/*Estilos de header*/

.header
{
    width: 100%;
    min-width: 320px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img
{
    width: 300px;
    margin: 0px 10px 10px 10px;
    padding-top: 40px;
}
