.error
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    min-height: calc(100vh - 160px);
}

.error__title 
{
  width: 180px;
  height: 160px;
}

.error__subtitle
{
    color: white;
    font-size: 20px;
}


.error__back a
{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.error__back a:hover
{
    text-decoration: underline; 
}


/*Animacion*/

.text {
  text-align: center;
  color: white;
  font-size: 80px;
}

.animated {
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.pulse {
  animation-name: pulse;
  animation-duration: 2s;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.4);}
  100% {transform: scale(1);}
}



